@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To continue to the Schedule Assignment Bot <a asp-action="Index" asp-controller="ChatBot">click here</a>.</p>
</div>
